[submodule "plugins/openmpt"]
	path = plugins/openmpt
	url = https://github.com/retrovertapp/playback-openmpt.git
[submodule "plugins/hively"]
	path = plugins/hively
	url = https://github.com/retrovertapp/playback-hively.git
[submodule "plugins/adplug"]
	path = plugins/adplug
	url = https://github.com/retrovertapp/playback-adplug.git
[submodule "plugins/art_of_noise"]
	path = plugins/art_of_noise
	url = https://github.com/retrovertapp/playback-art-of-noise.git
[submodule "plugins/asap"]
	path = plugins/asap
	url = https://github.com/retrovertapp/playback-asap.git
[submodule "plugins/audio_stream"]
	path = plugins/audio_stream
	url = https://github.com/retrovertapp/playback-audio_stream.git
[submodule "plugins/spu"]
	path = plugins/spu
	url = https://github.com/retrovertapp/playback-spu.git
[submodule "plugins/tfmx"]
	path = plugins/tfmx
	url = https://github.com/retrovertapp/playback-tfmx.git
[submodule "plugins/ixalance"]
	path = plugins/ixalance
	url = https://github.com/retrovertapp/playback-ixalance.git
