[submodule "plugins/openmpt"]
	path = plugins/openmpt
	url = https://github.com/retrovertapp/playback-openmpt.git
[submodule "plugins/hively"]
	path = plugins/hively
	url = https://github.com/retrovertapp/playback-hively.git
[submodule "plugins/adplug"]
	path = plugins/adplug
	url = https://github.com/retrovertapp/playback-adplug.git
[submodule "plugins/art_of_noise"]
	path = plugins/art_of_noise
	url = https://github.com/retrovertapp/playback-art-of-noise.git
[submodule "plugins/asap"]
	path = plugins/asap
	url = https://github.com/retrovertapp/playback-asap.git
[submodule "plugins/audio_stream"]
	path = plugins/audio_stream
	url = https://github.com/retrovertapp/playback-audio_stream.git
[submodule "plugins/spu"]
	path = plugins/spu
	url = https://github.com/retrovertapp/playback-spu.git
[submodule "plugins/tfmx"]
	path = plugins/tfmx
	url = https://github.com/retrovertapp/playback-tfmx.git
[submodule "plugins/ixalance"]
	path = plugins/ixalance
	url = https://github.com/retrovertapp/playback-ixalance.git
[submodule "plugins/cpsycle"]
	path = plugins/cpsycle
	url = https://github.com/retrovertapp/playback-cpsycle.git
[submodule "plugins/eupmini"]
	path = plugins/eupmini
	url = https://github.com/retrovertapp/playback-eupmini.git
[submodule "plugins/fmplayer"]
	path = plugins/fmplayer
	url = https://github.com/retrovertapp/playback-fmplayer.git
[submodule "plugins/gme"]
	path = plugins/gme
	url = https://github.com/retrovertapp/playback-gme.git
[submodule "plugins/klystrack"]
	path = plugins/klystrack
	url = https://github.com/retrovertapp/playback-klystrack.git
[submodule "plugins/mdxmini"]
	path = plugins/mdxmini
	url = https://github.com/retrovertapp/playback-mdxmini.git
[submodule "plugins/organya"]
	path = plugins/organya
	url = https://github.com/retrovertapp/playback-organya.git
[submodule "plugins/pmdmini"]
	path = plugins/pmdmini
	url = https://github.com/retrovertapp/playback-pmdmini.git
[submodule "plugins/pxtone"]
	path = plugins/pxtone
	url = https://github.com/retrovertapp/playback-pxtone.git
[submodule "plugins/sunvox"]
	path = plugins/sunvox
	url = https://github.com/retrovertapp/playback-sunvox.git
[submodule "plugins/furnace"]
	path = plugins/furnace
	url = https://github.com/retrovertapp/playback-furnace.git
[submodule "plugins/libkss"]
	path = plugins/libkss
	url = https://github.com/retrovertapp/playback-libkss.git
[submodule "plugins/libvgm"]
	path = plugins/libvgm
	url = https://github.com/retrovertapp/playback-libvgm.git
[submodule "plugins/sc68"]
	path = plugins/sc68
	url = https://github.com/retrovertapp/playback-sc68.git
[submodule "plugins/sidplayfp"]
	path = plugins/sidplayfp
	url = https://github.com/retrovertapp/playback-sidplayfp.git
[submodule "plugins/uade"]
	path = plugins/uade
	url = https://github.com/retrovertapp/playback-uade.git
[submodule "plugins/xsf"]
	path = plugins/xsf
	url = https://github.com/retrovertapp/playback-xsf.git
[submodule "plugins/zxtune"]
	path = plugins/zxtune
	url = https://github.com/retrovertapp/playback-zxtune.git
[submodule "plugins/v2m"]
	path = plugins/v2m
	url = https://github.com/retrovertapp/playback-v2m.git
[submodule "plugins/pretracker"]
	path = plugins/pretracker
	url = https://github.com/retrovertapp/playback-pretracker.git
